NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
APP_NAME=DrainWatch API
APP_VERSION=0.0.1
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=drainwatch
DB_SSL=false
DB_SYNCHRONIZE=true
DB_MIGRATIONS_RUN=false
MOOLRE_MODE=stub
MOOLRE_BASE_URL=
MOOLRE_COLLECTIONS_PATH=/collections
MOOLRE_DISBURSEMENTS_PATH=/disbursements
MOOLRE_REFUNDS_PATH=/refunds
MOOLRE_SMS_PATH=/sms
MOOLRE_SMS_SENDER_ID=DrainWatch
MOOLRE_API_USER=
MOOLRE_API_KEY=
MOOLRE_API_PUBKEY=
MOOLRE_API_VASKEY=
MOOLRE_BUSINESS_WALLET_REF=
